<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Yeshot -- 悦摄</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	body{
		padding-top:50px;
	}
	
	.carousel{
		height: 500px;
		background-color:#000;
		margin-bottom:60px;
	}
	.carousel .item{
		height: 500px;
		background-color:#000;
	}
	.carousel img{
		width: 100%;
	}
	
	#tworows-container{
		text-align:center;
	}
	
	hr.divider{
		margin:40px 0;
	}
	
	</style>
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/basis/upload/">Yeshot</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index/">主页</a></li>
		<li><a href="/basis/studio/">相馆</a></li>
		<li><a href="/basis/shoter/">拍客</a></li>
		<li><a href="/basis/forum/">论坛</a></li>
		<li class="active"><a href="/basis/account/">账户</a></li>
		<li><a href="/basis/upload/">开始分享</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--tworows-->
<div class="container" id="tworows-container">
<div class="row">
	<div class="col-md-9" id="row-left">
	<h4>当前登录用户为<br/></h4>{{usernow}}
	<h4>已分享作品数量为<br/></h4>{{photos}}
	<h4>喜欢的作品数量为<br/></h4>{{likes}}
	<h4>您的作品已被{{belikes}}位用户喜欢<br/></h4>
	<li><a href="/index/">回到主页</a></li>
	<li><a href='/account/mylogout/'><h6>注销登陆</h6></a></li>
	<li><a href='/account/changepwd/'><h6>更改密码</h6></a></li>
	</div>
</div>
<hr>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>