<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Yeshot -- 悦摄</title>
	
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!--引用新增-->
	<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.9.0/jquery.min.js"></script>
	<!--<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/imagesLoaded.js'></script>
	<script type="text/javascript" src="http://libs.useso.com/js/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<style type="text/css">
	body {
  padding-top: 50px;
}

.main-container {
  padding: 40px 15px;
}

.p {
  text-align: center;
}
	
		<!--</style><style>引用新增-->
	body{
		padding-top:50px;
	}
	
	.carousel{
		height: 500px;
		background-color:#000;
		margin-bottom:60px;
	}
	.carousel .item{
		height: 500px;
		background-color:#000;
	}
	.carousel img{
		width: 100%;
	}
	
	#threegridrow-container .col-md-4{
		text-align:center;
	}
	
	hr.divider{
		margin:40px 0;
	}
	<link href="{%static "css/style.css"%}" type="text/css" rel="stylesheet" media="all">
	</style>
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/basis/upload/">Yeshot</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index/">主页</a></li>
		<li class="active"><a href="/basis/studio/">相馆</a></li>
		<li><a href="/basis/shoter/">拍客</a></li>
		<li><a href="/basis/forum/">论坛</a></li>
		<li><a href="/basis/account/account/">账户</a></li>
		<li><a href="/basis/upload/">开始分享</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- script-for-menu -->
<script>					
	$("span.menu").click(function(){
		$(".top-nav ul").slideToggle("slow" , function(){
		});
	});
</script>
<!-- script-for-menu -->
<!-- Nav tabs -->

<div role="tabpanel">
<ul class="nav nav-tabs navbar-inverse text-align:right" role="tablist">
	{%for phototype in phototypes%}
		<li role="presentation"><a href="/basis/studio/?type={{phototype.id}}" role="tab" data-toggle="tab">{{phototype.type}}({{phototype.quantity}})
		</a></li>
	{%endfor%}
	<li role="presentation"><a href="/basis/studio/?type=0" role="tab" data-toggle="tab">时间线
		</a></li>
</ul>
</div> <!--/.tab-panel  -->
</div>
<div>
<!--{%if i %}
	<img id ='bg' src="../../static/images/img12.jpg" width = '1348' alt="">
{%endif%}
-->
<div class="tab-content">
	<div class="row masonry-container">
		{%for photo in photos%}
		<div class="col-md-4 col-sm-6 item">
			<div class="thumbnail">
				<ul>
				  <img src="{% static photo.photo%}" width="360" alt="">
				  <div class="caption">
					<h3>{{photo.photosay}}</h3>
					<p>已被{{photo.likedquantity}}位用户喜欢 由{{photo.user.username}}在{{photo.date}}分享</p>
					<p>
					<a href="/basis/studio/?type={{typeid}}&photo={{photo.id}}&liked={{photo.user.id}}" class="btn btn-primary" role="button">喜欢</a>
					</p>
				  </div>
				</ul>
			</div>
		</div>
		{%endfor%}
	</div>
</div>
</div>
<script type="text/javascript">
	/* Demo Scripts for Making Twitter Bootstrap 3 Tab Play Nicely With The Masonry Library
* on SitePoint by Maria Antonietta Perna
*/

//Initialize Masonry inside Bootstrap 3 Tab component 

(function( $ ) {

    var $container = $('.masonry-container');
    $container.imagesLoaded( function () {
        $container.masonry({
            columnWidth: '.item',
            itemSelector: '.item'
        });
    });
    
    //Reinitialize masonry inside each panel after the relative tab link is clicked - 
    $('a[data-toggle=tab]').each(function () {
        var $this = $(this);

        $this.on('click', function () {
        
            $container.imagesLoaded( function () {
                $container.masonry({
                    columnWidth: '.item',
                    itemSelector: '.item'
                });
            });

        }); //end shown
    });  //end each
    
})(jQuery);
</script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="js/jquery.min.js"></script>-->
	<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static "js/bootstrap.js"%}"></script>
	</body>
</html>